#Pandas 2
##DataFrame and Series Basics - Selecting Rows and Columns
Usado o tutorial [Python Pandas Tutorial (Part 2): DataFrame and Series Basics - Selecting Rows and Columns](https://youtu.be/zmdjNSmRXF4).

In [1]:
import pandas as pd

In [2]:
people = {
    "primeiro": ["Julia", "Amanda", "Roberto"],
    "ultimo": ["Marinho", "Maciel", "Silva"],
    "email": ["julia.marinho@gmail.com", "amanda.maciel@hotmail.com", "roberto.silva@yahoo.com"]
}

In [4]:
print(people)

{'primeiro': ['Julia', 'Amanda', 'Roberto'], 'ultimo': ['Marinho', 'Maciel', 'Silva'], 'email': ['julia.marinho@gmail.com', 'amanda.maciel@hotmail.com', 'roberto.silva@yahoo.com']}

In [5]:
df = pd.DataFrame(people)

In [6]:
df

  primeiro   ultimo                      email
0    Julia  Marinho    julia.marinho@gmail.com
1   Amanda   Maciel  amanda.maciel@hotmail.com
2  Roberto    Silva    roberto.silva@yahoo.com

<p>Um Dataframe é muito mais que um dicionário de listas do python. Ele é como uma tabela (especificamente, uma série - um array unidimensional, ou simplesmente, linhas de dados) e há muitas formas de manipulá-la.</p></br>
<p>DataFrame = linhas e colunas = um container de mútiplos objetos de série.</P>
<p>Series (coluna) = linhas de uma única coluna</P>

##Selecionar uma série (coluna)

In [7]:
# (forma 1) Acessar uma série (ou coluna)
df['email']

0      julia.marinho@gmail.com
1    amanda.maciel@hotmail.com
2      roberto.silva@yahoo.com
Name: email, dtype: object

In [9]:
# (forma 2) Outra forma de acessar uma série
df.email

0      julia.marinho@gmail.com
1    amanda.maciel@hotmail.com
2      roberto.silva@yahoo.com
Name: email, dtype: object

A *forma 1* é mais preferivel que a *forma 2*. Isso porque se tivermos o nome da série igual a um atributo ou metodo do DataFrame, haverá um erro ou conflito no código.

In [11]:
type(df['email'])

pandas.core.series.Series

##Selecionar multiplas séries (colunas)

In [23]:
# Verificar as colunas no dataframe
df.columns

Index(['primeiro', 'ultimo', 'email'], dtype='object')

In [22]:
df[['ultimo','email']]
# para encontrar mais de uma coluna é necessário passar uma lista. Se retirar as chaves internas, o pandas ira entender que as strings são uma coluna apenas.

    ultimo                      email
0  Marinho    julia.marinho@gmail.com
1   Maciel  amanda.maciel@hotmail.com
2    Silva    roberto.silva@yahoo.com

##Selecionar linhas

In [24]:
# integer location
df.iloc[0]

primeiro                      Julia
ultimo                      Marinho
email       julia.marinho@gmail.com
Name: 0, dtype: object

In [25]:
df.iloc[[0,1]]
# obter duas linhas

  primeiro   ultimo                      email
0    Julia  Marinho    julia.marinho@gmail.com
1   Amanda   Maciel  amanda.maciel@hotmail.com

In [26]:
df.iloc[[0,1],2]
# obter duas linhas e coluna email

0      julia.marinho@gmail.com
1    amanda.maciel@hotmail.com
Name: email, dtype: object

In [28]:
# com o loc, podemos usar labels
df.loc[[0,1], 'email']

0      julia.marinho@gmail.com
1    amanda.maciel@hotmail.com
Name: email, dtype: object

##Trabalhando com dataframe maior (gold_prices)

In [32]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/gold_price.csv')
df.shape

(1718, 81)

In [33]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'SP_open', 'SP_high', 'SP_low', 'SP_close', 'SP_Ajclose', 'SP_volume',
       'DJ_open', 'DJ_high', 'DJ_low', 'DJ_close', 'DJ_Ajclose', 'DJ_volume',
       'EG_open', 'EG_high', 'EG_low', 'EG_close', 'EG_Ajclose', 'EG_volume',
       'EU_Price', 'EU_open', 'EU_high', 'EU_low', 'EU_Trend', 'OF_Price',
       'OF_Open', 'OF_High', 'OF_Low', 'OF_Volume', 'OF_Trend', 'OS_Price',
       'OS_Open', 'OS_High', 'OS_Low', 'OS_Trend', 'SF_Price', 'SF_Open',
       'SF_High', 'SF_Low', 'SF_Volume', 'SF_Trend', 'USB_Price', 'USB_Open',
       'USB_High', 'USB_Low', 'USB_Trend', 'PLT_Price', 'PLT_Open', 'PLT_High',
       'PLT_Low', 'PLT_Trend', 'PLD_Price', 'PLD_Open', 'PLD_High', 'PLD_Low',
       'PLD_Trend', 'RHO_PRICE', 'USDI_Price', 'USDI_Open', 'USDI_High',
       'USDI_Low', 'USDI_Volume', 'USDI_Trend', 'GDX_Open', 'GDX_High',
       'GDX_Low', 'GDX_Close', 'GDX_Adj Close', 'GDX_Volume', 'USO_Open',
       'USO_High', 'USO_Low', 'USO_Close', 'USO_Adj Close', 'USO_Volume'],
      dtype='object')

In [34]:
df['Close']

0       152.330002
1       155.229996
2       154.869995
3       156.979996
4       157.160004
           ...
1713    120.019997
1714    119.660004
1715    120.570000
1716    121.059998
1717    121.250000
Name: Close, Length: 1718, dtype: float64

In [35]:
df['Close'].value_counts()

122.209999    4
124.589996    4
114.769997    4
116.769997    4
115.779999    4
             ..
119.190002    1
120.930000    1
121.019997    1
118.459999    1
121.059998    1
Name: Close, Length: 1384, dtype: int64

In [44]:
pd.set_option('display.max_rows',81)
df.loc[0]

Date              2011-12-15
Open              154.740005
High              154.949997
Low               151.710007
Close             152.330002
Adj Close         152.330002
Volume              21521900
SP_open           123.029999
SP_high           123.199997
SP_low            121.989998
SP_close              122.18
SP_Ajclose        105.441238
SP_volume          199109200
DJ_open          11825.29004
DJ_high          11967.83984
DJ_low           11825.21973
DJ_close         11868.80957
DJ_Ajclose       11868.80957
DJ_volume          136930000
EG_open            74.550003
EG_high            76.150002
EG_low             72.150002
EG_close           72.900002
EG_Ajclose         70.431755
EG_volume             787900
EU_Price              1.3018
EU_open               1.2982
EU_high               1.3051
EU_low                1.2957
EU_Trend                   1
OF_Price              105.09
OF_Open               104.88
OF_High                106.5
OF_Low                104.88
OF_Volume              14330
OF_Trend                   1
OS_Price               93.42
OS_Open                94.91
OS_High                 96.0
OS_Low                 93.33
OS_Trend                   0
SF_Price               53604
SF_Open                54248
SF_High                54248
SF_Low                 52316
SF_Volume             119440
SF_Trend                   1
USB_Price              1.911
USB_Open               1.911
USB_High               1.911
USB_Low                1.911
USB_Trend                  1
PLT_Price            1414.65
PLT_Open              1420.3
PLT_High             1423.35
PLT_Low              1376.85
PLT_Trend                  0
PLD_Price             618.85
PLD_Open               614.7
PLD_High               615.0
PLD_Low                614.6
PLD_Trend                  1
RHO_PRICE               1425
USDI_Price            80.341
USDI_Open             80.565
USDI_High              80.63
USDI_Low               80.13
USDI_Volume            22850
USDI_Trend                 0
GDX_Open           53.009998
GDX_High           53.139999
GDX_Low                51.57
GDX_Close              51.68
GDX_Adj Close      48.973877
GDX_Volume          20605600
USO_Open           36.900002
USO_High           36.939999
USO_Low            36.049999
USO_Close          36.130001
USO_Adj Close      36.130001
USO_Volume          12616700
Name: 0, dtype: object

In [51]:
df.loc[0:10:2,'Date':'Close']

          Date        Open        High         Low       Close
0   2011-12-15  154.740005  154.949997  151.710007  152.330002
2   2011-12-19  155.479996  155.860001  154.360001  154.869995
4   2011-12-21  156.979996  157.529999  156.130005  157.160004
6   2011-12-23  156.350006  156.490005  155.820007  156.309998
8   2011-12-28  154.050003  154.259995  150.660004  151.029999
10  2011-12-30  152.139999  153.750000  151.789993  151.990005